*{margin: 0;
}

.HomePageHolder {
  position: relative; /* Changed to relative to support absolute positioning of children */
  height: 100vh;
  width: min-content;
  background-color: rgb(254, 242, 215);
  /* background-color: red; */
}


/* .HomePageHeader {
    position: relative;
  
    width: 20em;
    height: 20em;
    font-size: 0.90em;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    animation: pulse infinite;
    --animate-duration: 20s;
  }   */
  .HomePageHeader{
    position: relative;
    top: -24%;
    left: 50%;
  }
  .Header{
    position: relative;
    top: -13%;
    color: white;
    font-size: 2em; 
    font-weight: bold
  }

  .MakerName {
    position: absolute;
    display: flex;
    gap: 1em;
    justify-content: space-around;
    color: white;
    font-weight: normal;
    font-size: 0.95em;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: ChangeName 5s infinite;
  }
  
  .MakerName2 {
    /* display: none; */
    position: absolute;
    display: flex;
    gap: 2em;
    justify-content: space-around;
    color: white;
    font-weight: normal;
    font-size: 0.95em;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: ChangeName 5s infinite;
   animation-delay: 2.5s;

  }
  
  @keyframes ChangeName {
    0% {
      opacity: 1;
    }

    25%{
      opacity: 1;
    }
    
    
    55%{
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  
  .MakerName span,
  .MakerName2 span {
    font-size: inherit;
    color: #3C7425;
    font-weight: 500;
    font-style: italic;
  }

  /* For the box */
  .DraggableBox {
    position: absolute; /* Keeps box absolutely positioned */
    width: 24em; /* Adjust as needed */
    height: 18em; /* Adjust as needed */
    background-color: #F6BD47;
    border-radius: 25px;
    cursor: grab; /* Optional: Changes cursor to indicate draggability */
  }
  