* {
  font-size: 1.1em;
  margin: 0;

}

.App {

  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 2em;

}


.FolioBg {
  display: block;
  position: absolute;
  height: inherit;
  border-radius: 5%;


}

.HomePageTitle {
  color: white;
  font-weight: bold;
  font-size: 2.9em;
  margin: 1em 0.4em 0em;

}

.PHolder {
  /* background-color: red; */
  font-size: 1em;
  margin-bottom: 2em;
  color: rgb(72, 68, 68);
  display: block;

}

.PHolder span {
  font-family: cursive;
  font-size: 0.7em;
}

.HPP1 {
  position: relative;
  box-sizing: border-box;
  padding: 0.5em;
  right: 7em;
  margin: 0em;
  top: 0.7em;
  /* background-color: red; */
  /* background-color: rgb(71, 217, 212); */
  border-radius: 5%;
}

.whiteCircle {
  height: 0.5em;
  width: 0.5em;
  position: relative;
  background-color: aliceblue;
  border-radius: 50%;
  left: 4em;
  z-index: 2;


}

/* Second Page Boduy */


#university {
  width: 35em;
  font-size: 1.8em;
}

#Fname, #Lname {
  width: 6em;
  font-size: 1.8em;
}

#title {
  width: 35em;
  font-size: 1.8em;
}

#toggleButton {
  align-items: center;
}

/* Apply styles to elements with class .HPP2 */
.HPP2 {
  box-sizing: border-box;
  position: relative;
  padding: 0.5em;
  right: -7.5em;
  bottom: 0.7em;
  margin: 0em;
  z-index: 1;
  /* background-color: red; */
  /* background-color: rgb(71, 217, 212); */
  border-radius: 5%;

}
